.btn{
    width: 100px;
    height: fit-content;
    border: 1px solid black;
    text-align: center;
    /* line-height: 50px; */
    user-select: none;
    margin: 5px 0;
    padding: 5px;
}

.song-item{
    height: fit-content;
    padding: 5px;
    user-select: none;
    display: flex;
    transition-duration: .15s;
}

.artist-text{
    color: #aaa;
}

#results{
    transition-duration: .1s;
}

p{
    margin: 0;
    text-indent: 10px;
    line-height: 60px;
    font-size: 24px;
    font-family: Alata;
}

.img-item{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.song-item:hover{
    cursor: pointer;
    background-color: lightblue;
}
.song-item:active{
    transform: scale(.9);
}
.btn:hover{
    cursor: pointer;
}

.btn:active{
    background-color: lightblue;
}


